<div class="container">
  <nimble-icon-add class="regular" title="nimble-icon-add"></nimble-icon-add>
  <nimble-icon-arrow-down-right-and-arrow-up-left
    class="regular"
    title="nimble-icon-arrow-down-right-and-arrow-up-left"
  ></nimble-icon-arrow-down-right-and-arrow-up-left>
  <nimble-icon-arrow-expander-down
    class="regular"
    title="nimble-icon-arrow-expander-down"
  ></nimble-icon-arrow-expander-down>
  <nimble-icon-arrow-expander-left
    class="regular"
    title="nimble-icon-arrow-expander-left"
  ></nimble-icon-arrow-expander-left>
  <nimble-icon-arrow-expander-right
    class="regular"
    title="nimble-icon-arrow-expander-right"
  ></nimble-icon-arrow-expander-right>
  <nimble-icon-arrow-expander-up
    class="regular"
    title="nimble-icon-arrow-expander-up"
  ></nimble-icon-arrow-expander-up>
  <nimble-icon-arrow-left-from-line
    class="regular"
    title="nimble-icon-arrow-left-from-line"
  ></nimble-icon-arrow-left-from-line>
  <nimble-icon-arrow-partial-rotate-left
    class="regular"
    title="nimble-icon-arrow-partial-rotate-left"
  ></nimble-icon-arrow-partial-rotate-left>
  <nimble-icon-arrow-right-to-line
    class="regular"
    title="nimble-icon-arrow-right-to-line"
  ></nimble-icon-arrow-right-to-line>
  <nimble-icon-arrow-rotate-right
    class="regular"
    title="nimble-icon-arrow-rotate-right"
  ></nimble-icon-arrow-rotate-right>
  <nimble-icon-arrow-u-rotate-left
    class="regular"
    title="nimble-icon-arrow-u-rotate-left"
  ></nimble-icon-arrow-u-rotate-left>
  <nimble-icon-arrow-up-left-and-arrow-down-right
    class="regular"
    title="nimble-icon-arrow-up-left-and-arrow-down-right"
  ></nimble-icon-arrow-up-left-and-arrow-down-right>
  <nimble-icon-arrows-maximize
    class="regular"
    title="nimble-icon-arrows-maximize"
  ></nimble-icon-arrows-maximize>
  <nimble-icon-arrows-repeat
    class="regular"
    title="nimble-icon-arrows-repeat"
  ></nimble-icon-arrows-repeat>
  <nimble-icon-bars class="regular" title="nimble-icon-bars"></nimble-icon-bars>
  <nimble-icon-bell class="regular" title="nimble-icon-bell"></nimble-icon-bell>
  <nimble-icon-bell-and-comment
    class="regular"
    title="nimble-icon-bell-and-comment"
  ></nimble-icon-bell-and-comment>
  <nimble-icon-bell-circle
    class="regular"
    title="nimble-icon-bell-circle"
  ></nimble-icon-bell-circle>
  <nimble-icon-bell-solid-circle
    class="regular"
    title="nimble-icon-bell-solid-circle"
  ></nimble-icon-bell-solid-circle>
  <nimble-icon-block-with-ribbon
    class="regular"
    title="nimble-icon-block-with-ribbon"
  ></nimble-icon-block-with-ribbon>
  <nimble-icon-book-magnifying-glass
    class="regular"
    title="nimble-icon-book-magnifying-glass"
  ></nimble-icon-book-magnifying-glass>
  <nimble-icon-calendar
    class="regular"
    title="nimble-icon-calendar"
  ></nimble-icon-calendar>
  <nimble-icon-chart-diagram
    class="regular"
    title="nimble-icon-chart-diagram"
  ></nimble-icon-chart-diagram>
  <nimble-icon-chart-diagram-child-focus
    class="regular"
    title="nimble-icon-chart-diagram-child-focus"
  ></nimble-icon-chart-diagram-child-focus>
  <nimble-icon-chart-diagram-parent-focus
    class="regular"
    title="nimble-icon-chart-diagram-parent-focus"
  ></nimble-icon-chart-diagram-parent-focus>
  <nimble-icon-chart-diagram-parent-focus-two-child
    class="regular"
    title="nimble-icon-chart-diagram-parent-focus-two-child"
  ></nimble-icon-chart-diagram-parent-focus-two-child>
  <nimble-icon-check
    class="regular"
    title="nimble-icon-check"
  ></nimble-icon-check>
  <nimble-icon-check-dot
    class="regular"
    title="nimble-icon-check-dot"
  ></nimble-icon-check-dot>
  <nimble-icon-circle
    class="regular"
    title="nimble-icon-circle"
  ></nimble-icon-circle>
  <nimble-icon-circle-broken
    class="regular"
    title="nimble-icon-circle-broken"
  ></nimble-icon-circle-broken>
  <nimble-icon-circle-check
    class="regular"
    title="nimble-icon-circle-check"
  ></nimble-icon-circle-check>
  <nimble-icon-circle-filled
    class="regular"
    title="nimble-icon-circle-filled"
  ></nimble-icon-circle-filled>
  <nimble-icon-circle-partial-broken
    class="regular"
    title="nimble-icon-circle-partial-broken"
  ></nimble-icon-circle-partial-broken>
  <nimble-icon-circle-slash
    class="regular"
    title="nimble-icon-circle-slash"
  ></nimble-icon-circle-slash>
  <nimble-icon-circle-x
    class="regular"
    title="nimble-icon-circle-x"
  ></nimble-icon-circle-x>
  <nimble-icon-clipboard
    class="regular"
    title="nimble-icon-clipboard"
  ></nimble-icon-clipboard>
  <nimble-icon-clock
    class="regular"
    title="nimble-icon-clock"
  ></nimble-icon-clock>
  <nimble-icon-clock-cog
    class="regular"
    title="nimble-icon-clock-cog"
  ></nimble-icon-clock-cog>
  <nimble-icon-clock-triangle
    class="regular"
    title="nimble-icon-clock-triangle"
  ></nimble-icon-clock-triangle>
  <nimble-icon-clone
    class="regular"
    title="nimble-icon-clone"
  ></nimble-icon-clone>
  <nimble-icon-cloud
    class="regular"
    title="nimble-icon-cloud"
  ></nimble-icon-cloud>
  <nimble-icon-cloud-upload
    class="regular"
    title="nimble-icon-cloud-upload"
  ></nimble-icon-cloud-upload>
  <nimble-icon-cloud-with-arrow
    class="regular"
    title="nimble-icon-cloud-with-arrow"
  ></nimble-icon-cloud-with-arrow>
  <nimble-icon-cog class="regular" title="nimble-icon-cog"></nimble-icon-cog>
  <nimble-icon-cog-database
    class="regular"
    title="nimble-icon-cog-database"
  ></nimble-icon-cog-database>
  <nimble-icon-cog-database-inset
    class="regular"
    title="nimble-icon-cog-database-inset"
  ></nimble-icon-cog-database-inset>
  <nimble-icon-cog-small-cog
    class="regular"
    title="nimble-icon-cog-small-cog"
  ></nimble-icon-cog-small-cog>
  <nimble-icon-cog-zoomed
    class="regular"
    title="nimble-icon-cog-zoomed"
  ></nimble-icon-cog-zoomed>
  <nimble-icon-comment
    class="regular"
    title="nimble-icon-comment"
  ></nimble-icon-comment>
  <nimble-icon-computer-and-monitor
    class="regular"
    title="nimble-icon-computer-and-monitor"
  ></nimble-icon-computer-and-monitor>
  <nimble-icon-copy class="regular" title="nimble-icon-copy"></nimble-icon-copy>
  <nimble-icon-copy-text
    class="regular"
    title="nimble-icon-copy-text"
  ></nimble-icon-copy-text>
  <nimble-icon-dashboard-builder
    class="regular"
    title="nimble-icon-dashboard-builder"
  ></nimble-icon-dashboard-builder>
  <nimble-icon-dashboard-builder-legend
    class="regular"
    title="nimble-icon-dashboard-builder-legend"
  ></nimble-icon-dashboard-builder-legend>
  <nimble-icon-dashboard-builder-templates
    class="regular"
    title="nimble-icon-dashboard-builder-templates"
  ></nimble-icon-dashboard-builder-templates>
  <nimble-icon-dashboard-builder-tile
    class="regular"
    title="nimble-icon-dashboard-builder-tile"
  ></nimble-icon-dashboard-builder-tile>
  <nimble-icon-database
    class="regular"
    title="nimble-icon-database"
  ></nimble-icon-database>
  <nimble-icon-database-check
    class="regular"
    title="nimble-icon-database-check"
  ></nimble-icon-database-check>
  <nimble-icon-desktop
    class="regular"
    title="nimble-icon-desktop"
  ></nimble-icon-desktop>
  <nimble-icon-donut-chart
    class="regular"
    title="nimble-icon-donut-chart"
  ></nimble-icon-donut-chart>
  <nimble-icon-dot-solid-dot-stroke
    class="regular"
    title="nimble-icon-dot-solid-dot-stroke"
  ></nimble-icon-dot-solid-dot-stroke>
  <nimble-icon-download
    class="regular"
    title="nimble-icon-download"
  ></nimble-icon-download>
  <nimble-icon-electronic-chip-zoomed
    class="regular"
    title="nimble-icon-electronic-chip-zoomed"
  ></nimble-icon-electronic-chip-zoomed>
  <nimble-icon-exclamation-mark
    class="regular"
    title="nimble-icon-exclamation-mark"
  ></nimble-icon-exclamation-mark>
  <nimble-icon-eye class="regular" title="nimble-icon-eye"></nimble-icon-eye>
  <nimble-icon-fancy-a
    class="regular"
    title="nimble-icon-fancy-a"
  ></nimble-icon-fancy-a>
  <nimble-icon-file class="regular" title="nimble-icon-file"></nimble-icon-file>
  <nimble-icon-file-drawer
    class="regular"
    title="nimble-icon-file-drawer"
  ></nimble-icon-file-drawer>
  <nimble-icon-file-search
    class="regular"
    title="nimble-icon-file-search"
  ></nimble-icon-file-search>
  <nimble-icon-filter
    class="regular"
    title="nimble-icon-filter"
  ></nimble-icon-filter>
  <nimble-icon-floppy-disk-checkmark
    class="regular"
    title="nimble-icon-floppy-disk-checkmark"
  ></nimble-icon-floppy-disk-checkmark>
  <nimble-icon-floppy-disk-star-arrow-right
    class="regular"
    title="nimble-icon-floppy-disk-star-arrow-right"
  ></nimble-icon-floppy-disk-star-arrow-right>
  <nimble-icon-floppy-disk-three-dots
    class="regular"
    title="nimble-icon-floppy-disk-three-dots"
  ></nimble-icon-floppy-disk-three-dots>
  <nimble-icon-folder
    class="regular"
    title="nimble-icon-folder"
  ></nimble-icon-folder>
  <nimble-icon-folder-open
    class="regular"
    title="nimble-icon-folder-open"
  ></nimble-icon-folder-open>
  <nimble-icon-forward-slash
    class="regular"
    title="nimble-icon-forward-slash"
  ></nimble-icon-forward-slash>
  <nimble-icon-four-dots-square
    class="regular"
    title="nimble-icon-four-dots-square"
  ></nimble-icon-four-dots-square>
  <nimble-icon-function
    class="regular"
    title="nimble-icon-function"
  ></nimble-icon-function>
  <nimble-icon-gauge-simple
    class="regular"
    title="nimble-icon-gauge-simple"
  ></nimble-icon-gauge-simple>
  <nimble-icon-grid-three-by-three
    class="regular"
    title="nimble-icon-grid-three-by-three"
  ></nimble-icon-grid-three-by-three>
  <nimble-icon-grid-two-by-two
    class="regular"
    title="nimble-icon-grid-two-by-two"
  ></nimble-icon-grid-two-by-two>
  <nimble-icon-hammer
    class="regular"
    title="nimble-icon-hammer"
  ></nimble-icon-hammer>
  <nimble-icon-hashtag
    class="regular"
    title="nimble-icon-hashtag"
  ></nimble-icon-hashtag>
  <nimble-icon-home class="regular" title="nimble-icon-home"></nimble-icon-home>
  <nimble-icon-hourglass
    class="regular"
    title="nimble-icon-hourglass"
  ></nimble-icon-hourglass>
  <nimble-icon-indeterminant-checkbox
    class="regular"
    title="nimble-icon-indeterminant-checkbox"
  ></nimble-icon-indeterminant-checkbox>
  <nimble-icon-info class="regular" title="nimble-icon-info"></nimble-icon-info>
  <nimble-icon-info-circle
    class="regular"
    title="nimble-icon-info-circle"
  ></nimble-icon-info-circle>
  <nimble-icon-key class="regular" title="nimble-icon-key"></nimble-icon-key>
  <nimble-icon-laptop
    class="regular"
    title="nimble-icon-laptop"
  ></nimble-icon-laptop>
  <nimble-icon-layer-group
    class="regular"
    title="nimble-icon-layer-group"
  ></nimble-icon-layer-group>
  <nimble-icon-lightning-bolt
    class="regular"
    title="nimble-icon-lightning-bolt"
  ></nimble-icon-lightning-bolt>
  <nimble-icon-link class="regular" title="nimble-icon-link"></nimble-icon-link>
  <nimble-icon-link-cancel
    class="regular"
    title="nimble-icon-link-cancel"
  ></nimble-icon-link-cancel>
  <nimble-icon-list class="regular" title="nimble-icon-list"></nimble-icon-list>
  <nimble-icon-list-tree
    class="regular"
    title="nimble-icon-list-tree"
  ></nimble-icon-list-tree>
  <nimble-icon-list-tree-database
    class="regular"
    title="nimble-icon-list-tree-database"
  ></nimble-icon-list-tree-database>
  <nimble-icon-lock class="regular" title="nimble-icon-lock"></nimble-icon-lock>
  <nimble-icon-magnifying-glass
    class="regular"
    title="nimble-icon-magnifying-glass"
  ></nimble-icon-magnifying-glass>
  <nimble-icon-markdown
    class="regular"
    title="nimble-icon-markdown"
  ></nimble-icon-markdown>
  <nimble-icon-minus
    class="regular"
    title="nimble-icon-minus"
  ></nimble-icon-minus>
  <nimble-icon-minus-wide
    class="regular"
    title="nimble-icon-minus-wide"
  ></nimble-icon-minus-wide>
  <nimble-icon-mobile
    class="regular"
    title="nimble-icon-mobile"
  ></nimble-icon-mobile>
  <nimble-icon-notebook
    class="regular"
    title="nimble-icon-notebook"
  ></nimble-icon-notebook>
  <nimble-icon-paste
    class="regular"
    title="nimble-icon-paste"
  ></nimble-icon-paste>
  <nimble-icon-pencil
    class="regular"
    title="nimble-icon-pencil"
  ></nimble-icon-pencil>
  <nimble-icon-pot-with-lid
    class="regular"
    title="nimble-icon-pot-with-lid"
  ></nimble-icon-pot-with-lid>
  <nimble-icon-question
    class="regular"
    title="nimble-icon-question"
  ></nimble-icon-question>
  <nimble-icon-running-arrow
    class="regular"
    title="nimble-icon-running-arrow"
  ></nimble-icon-running-arrow>
  <nimble-icon-server
    class="regular"
    title="nimble-icon-server"
  ></nimble-icon-server>
  <nimble-icon-share-nodes
    class="regular"
    title="nimble-icon-share-nodes"
  ></nimble-icon-share-nodes>
  <nimble-icon-share-square
    class="regular"
    title="nimble-icon-share-square"
  ></nimble-icon-share-square>
  <nimble-icon-shield-check
    class="regular"
    title="nimble-icon-shield-check"
  ></nimble-icon-shield-check>
  <nimble-icon-shield-xmark
    class="regular"
    title="nimble-icon-shield-xmark"
  ></nimble-icon-shield-xmark>
  <nimble-icon-signal-bars
    class="regular"
    title="nimble-icon-signal-bars"
  ></nimble-icon-signal-bars>
  <nimble-icon-sine-graph
    class="regular"
    title="nimble-icon-sine-graph"
  ></nimble-icon-sine-graph>
  <nimble-icon-skip-arrow
    class="regular"
    title="nimble-icon-skip-arrow"
  ></nimble-icon-skip-arrow>
  <nimble-icon-spinner
    class="regular"
    title="nimble-icon-spinner"
  ></nimble-icon-spinner>
  <nimble-icon-square-check
    class="regular"
    title="nimble-icon-square-check"
  ></nimble-icon-square-check>
  <nimble-icon-square-t
    class="regular"
    title="nimble-icon-square-t"
  ></nimble-icon-square-t>
  <nimble-icon-t class="regular" title="nimble-icon-t"></nimble-icon-t>
  <nimble-icon-tablet
    class="regular"
    title="nimble-icon-tablet"
  ></nimble-icon-tablet>
  <nimble-icon-tag class="regular" title="nimble-icon-tag"></nimble-icon-tag>
  <nimble-icon-tags class="regular" title="nimble-icon-tags"></nimble-icon-tags>
  <nimble-icon-target-crosshairs
    class="regular"
    title="nimble-icon-target-crosshairs"
  ></nimble-icon-target-crosshairs>
  <nimble-icon-target-crosshairs-progress
    class="regular"
    title="nimble-icon-target-crosshairs-progress"
  ></nimble-icon-target-crosshairs-progress>
  <nimble-icon-three-dots-line
    class="regular"
    title="nimble-icon-three-dots-line"
  ></nimble-icon-three-dots-line>
  <nimble-icon-three-vertical-lines
    class="regular"
    title="nimble-icon-three-vertical-lines"
  ></nimble-icon-three-vertical-lines>
  <nimble-icon-thumbtack
    class="regular"
    title="nimble-icon-thumbtack"
  ></nimble-icon-thumbtack>
  <nimble-icon-tile-size
    class="regular"
    title="nimble-icon-tile-size"
  ></nimble-icon-tile-size>
  <nimble-icon-times
    class="regular"
    title="nimble-icon-times"
  ></nimble-icon-times>
  <nimble-icon-trash
    class="regular"
    title="nimble-icon-trash"
  ></nimble-icon-trash>
  <nimble-icon-triangle
    class="regular"
    title="nimble-icon-triangle"
  ></nimble-icon-triangle>
  <nimble-icon-true-false-rectangle
    class="regular"
    title="nimble-icon-true-false-rectangle"
  ></nimble-icon-true-false-rectangle>
  <nimble-icon-unlink
    class="regular"
    title="nimble-icon-unlink"
  ></nimble-icon-unlink>
  <nimble-icon-unlock
    class="regular"
    title="nimble-icon-unlock"
  ></nimble-icon-unlock>
  <nimble-icon-upload
    class="regular"
    title="nimble-icon-upload"
  ></nimble-icon-upload>
  <nimble-icon-user class="regular" title="nimble-icon-user"></nimble-icon-user>
  <nimble-icon-watch
    class="regular"
    title="nimble-icon-watch"
  ></nimble-icon-watch>
  <nimble-icon-waveform
    class="regular"
    title="nimble-icon-waveform"
  ></nimble-icon-waveform>
  <nimble-icon-webvi-custom
    class="regular"
    title="nimble-icon-webvi-custom"
  ></nimble-icon-webvi-custom>
  <nimble-icon-webvi-host
    class="regular"
    title="nimble-icon-webvi-host"
  ></nimble-icon-webvi-host>
  <nimble-icon-window-code
    class="regular"
    title="nimble-icon-window-code"
  ></nimble-icon-window-code>
  <nimble-icon-window-text
    class="regular"
    title="nimble-icon-window-text"
  ></nimble-icon-window-text>
  <nimble-icon-wrench-hammer
    class="regular"
    title="nimble-icon-wrench-hammer"
  ></nimble-icon-wrench-hammer>
  <nimble-icon-xmark
    class="regular"
    title="nimble-icon-xmark"
  ></nimble-icon-xmark>
  <nimble-icon-xmark-check
    class="regular"
    title="nimble-icon-xmark-check"
  ></nimble-icon-xmark-check>
</div>
